<section class="benefits">
  <div class="container-big">
    <h2 class="benefits__title">
      здатні <br class="benefits__transposition" />
      на багато
    </h2>
    <div class="benefits-container">
      <ul class="benefits__list">
        <li class="benefits__item">
          <p class="benefits__text">Можливість приймати дзвінки</p>
        </li>
        <li class="benefits__item">
          <p class="benefits__text">Насичене та потужне звучання</p>
        </li>
        <li class="benefits__item">
          <p class="benefits__text">Опція активного шумоподавлення</p>
        </li>
      </ul>
      <ul class="benefits__list">
        <li class="benefits__item">
          <p class="benefits__text">Неперевершена система мікрофонів</p>
        </li>
        <li class="benefits__item">
          <p class="benefits__text">Підтримка голосових помічників</p>
        </li>
        <li class="benefits__item">
          <p class="benefits__text">
            Аудиоплатформа дополненной реальности Bose AR
          </p>
        </li>
      </ul>
    </div>
  </div>
</section>
