<section class="brandhistory" id="history">
  <div class="container-big">
    <div class="brandhistory__container">
      <h2 class="brandhistory__title">історія <br />створення <br />бренду</h2>
      <p class="brandhistory__text">
        Історія Bose Corporation почалася з розчарування. У 1956 році аспірант
        Массачусетського технологічного інституту Амар Боуз (Amar Bose) придбав
        одну з найкращих на той час стереосистем для свого будинку. Після
        кількох хвилин прослуховування аудіозапису його подив змінилося
        розчаруванням.
      </p>
      <img
        class="brandhistory__image brandhistory__image-top"
        srcset="
          ./images/brand-history/mobile/brandhistory-1-mob280.jpg        280w,
          ./images/brand-history/mobile/brandhistory-1-mob560@2x.jpg     560w,
          ./images/brand-history/mobile/brandhistory-1-mob840@3x.jpg     840w,
          ./images/brand-history/tablet/brandhistory-1-tab354.jpg        354w,
          ./images/brand-history/tablet/brandhistory-1-tab708@2x.jpg     708w,
          ./images/brand-history/tablet/brandhistory-1-tab1062@3x.jpg   1062w,
          ./images/brand-history/desktop/brandhistory-1-desk700.jpg      700w,
          ./images/brand-history/desktop/brandhistory-1-desk1400@2x.jpg 1400w,
          ./images/brand-history/desktop/brandhistory-1-desk2100@3x.jpg 2100w
        "
        src="./images/brand-history/desktop/brandhistory-1-desk700.jpg"
        alt="Трое мужчин рассматривают фотографии"
        sizes="(min-width: 1440px) 700px, (min-width: 768px) 354px, (min-width: 320px) 280px, 100vw"
      />
      <p class="brandhistory__text">
        З точки зору Амара звук був настільки плоским і неприродним, що краще не
        слухати музику зовсім, ніж слухати її в такому спотвореному вигляді.
      </p>
      <p class="brandhistory__text">
        Розчарування Боуза переросло у тверду рішучість – створювати
        аудіотехніку, яка передаватиме звук бездоганно точно та природно.
      </p>
      <img
        class="brandhistory__image brandhistory__image-bottom"
        srcset="
          ./images/brand-history/mobile/brandhistory-2-mob280.jpg      280w,
          ./images/brand-history/mobile/brandhistory-2-mob560@2x.jpg   560w,
          ./images/brand-history/mobile/brandhistory-2-mob840@3x.jpg   840w,
          ./images/brand-history/tablet/brandhistory-2-tab294.jpg      294w,
          ./images/brand-history/tablet/brandhistory-2-tab588@2x.jpg   588w,
          ./images/brand-history/tablet/brandhistory-2-tab882@3x.jpg   882w,
          ./images/brand-history/desktop/brandhistory-2-desk290.jpg    290w,
          ./images/brand-history/desktop/brandhistory-2-desk580@2x.jpg 580w,
          ./images/brand-history/desktop/brandhistory-2-desk870@3x.jpg 870w
        "
        src="./images/brand-history/desktop/brandhistory-2-desk290.jpg"
        alt="на фотографии основатель компании Амар Боуз"
        sizes="(min-width: 1440px) 290px, (min-width: 768px) 294px, (min-width: 320px) 280px, 100vw"
      />
      <svg class="brandhistory__icon" width="34" height="25">
        <use href="./images/icons.svg#icon-quotes"></use>
      </svg>
      <p class="brandhistory__text">
        Ніколи не переставайте мріяти. Завжди мрійте про найкраще і думайте про
        те, як цього досягти.
      </p>
      <p class="brandhistory__text">Засновник компанії Амар Боуз</p>
    </div>
  </div>
</section>
