<section class="design">
  <div class="design__container container">
    <div>
      <h2 class="design__title">Преміальний дизайн та комфорт</h2>
      <ul class="design__list">
        <li class="design__item">
          <h3 class="design__subtitle">11 рівнів шумозаглушення</h3>
          <p>
            З новими навушниками Bose Noise Cancelling Headphone 700 можна
            плавно збільшити або зменшити шумопоглинання. Вас чутно чудово і ви
            чуєте співрозмовника чітко, навіть у галасливій обстановці!
          </p>
        </li>
        <li class="design__item">
          <h3 class="design__subtitle">Комфорт на максимум</h3>
          <p>
            Стильна, легка дужка з нержавіючої сталі з м'якими чашками
            навушників, розташованими під кутом для комфортної посадки.
            Внутрішня сторона виготовлена ​​з м'якої гелевої підкладки, яка
            добре прилягає до голови.
          </p>
        </li>
      </ul>
    </div>
    <img
      class="design__image"
      srcset="
        ./images/design/mobile/design-mob280.jpg        280w,
        ./images/design/mobile/design-mob560@2x.jpg     560w,
        ./images/design/mobile/design-mob840@3x.jpg     840w,
        ./images/design/tablet/design-tab354.jpg        354w,
        ./images/design/tablet/design-tab708@2x.jpg     708w,
        ./images/design/tablet/design-tab1062@3x.jpg   1062w,
        ./images/design/desktop/design-desk590.jpg      590w,
        ./images/design/desktop/design-desk1180@2x.jpg 1180w,
        ./images/design/desktop/design-desk1770@3x.jpg 1770w
      "
      src="./images/design/desktop/design-desk590.jpg"
      alt="девушка в наушниках"
      sizes="(min-width: 1440px) 590px , (min-width: 768px) 354px, (min-width: 320px) 280px, 100vw"
    />
  </div>
</section>
