<section class="features">
  <div class="container-big">
    <div class="features__container">
      <div class="features__content">
        <h2 class="features__title">Bose AR</h2>
        <h3 class="features__subtitle">Фірмова технологія</h3>
        <p class="features__text">
          Bose AR це унікальна аудіоплатформа доповненої реальності, що
          відкриває перед вами нові грані звучання. Вона дозволяє вам залишатися
          на зв'язку з реальним світом і одночасно занурюватися у віртуальний
          всесвіт.
        </p>
      </div>
      <img
        class="features__image"
        srcset="
          ./images/features/mobile/features-mob280.jpg        280w,
          ./images/features/mobile/features-mob560@2x.jpg     560w,
          ./images/features/mobile/features-mob840@3x.jpg     840w,
          ./images/features/tablet/features-tab354.jpg        354w,
          ./images/features/tablet/features-tab708@2x.jpg     708w,
          ./images/features/tablet/features-tab1062@3x.jpg   1062w,
          ./images/features/desktop/features-desk700.jpg      700w,
          ./images/features/desktop/features-desk1400@2x.jpg 1400w,
          ./images/features/desktop/features-desk2100@3x.jpg 2100w
        "
        src="./images/features/desktop/features-desk700.jpg"
        alt="девушка в наушниках"
        sizes="(min-width: 1440px) 700px, (min-width: 768px) 354px, (min-width: 320px) 280px, 100vw"
      />
    </div>
  </div>
</section>
