<footer class="footer">
  <div class="container-big">
    <nav class="footer__wrapper">
      <ul class="footer__list">
        <li class="footer__item">
          <a class="footer__link" href="">Характеристики</a>
        </li>
        <li class="footer__item">
          <a class="footer__link" href="">Історія</a>
        </li>
        <li class="footer__item">
          <a class="footer__link" href="">Огляд</a>
        </li>
      </ul>
      <ul class="footer__list">
        <li class="footer__item">
          <a class="footer__link" href="">Оплата і доставка</a>
        </li>
        <li class="footer__item">
          <a class="footer__link" href="">Адреси магазинів</a>
        </li>
        <li class="footer__item"><a class="footer__link" href="#">FAQ</a></li>
      </ul>
      <a class="footer__link-tel" href="tel:+88001111111">8 (800) 111-11-11</a>
    </nav>
  </div>
</footer>
