<section class="garanties">
  <div class="container">
    <div class="garanties__container">
      <img
        class="garanties__image"
        srcset="
          ./images/garanties/mobile/garanties-mob280.jpg        280w,
          ./images/garanties/mobile/garanties-mob560@2x.jpg     560w,
          ./images/garanties/mobile/garanties-mob840@3x.jpg     840w,
          ./images/garanties/tablet/garanties-tab354.jpg        354w,
          ./images/garanties/tablet/garanties-tab708@2x.jpg     708w,
          ./images/garanties/tablet/garanties-tab1062@3x.jpg   1062w,
          ./images/garanties/desktop/garanties-desk590.jpg      590w,
          ./images/garanties/desktop/garanties-desk1180@2x.jpg 1180w,
          ./images/garanties/desktop/garanties-desk1770@3x.jpg 1770w
        "
        src="./images/garanties/desktop/garanties-desk590.jpg"
        alt="белые наушники"
        sizes="(min-width: 1440px) 590px, (min-width: 768px) 354px, (min-width: 320px) 280px, 100vw"
      />
      <div class="garanties__content">
        <h2 class="garanties__title">Гарантії</h2>
        <ul>
          <li class="garanties__item">
            <svg
              class="garanties__icon"
              width="13"
              height="13"
              aria-hidden="true"
            >
              <use href="./images/icons.svg#icon-point"></use>
            </svg>
            <h3 class="garanties__subtitle">
              Гарантія повернення грошей протягом 90 днів
            </h3>
            <p>
              Якщо ви не задоволені продуктом на 100% ви можете повернути його
              назад та отримати повне повернення грошей
            </p>
          </li>
          <li class="garanties__item">
            <svg
              class="garanties__icon"
              width="13"
              height="13"
              aria-hidden="true"
            >
              <use href="./images/icons.svg#icon-point"></use>
            </svg>
            <h3 class="garanties__subtitle">1 рік гарантії</h3>
            <p>
              Незалежно від країни вашого проживання, якщо ваші навушники
              зламалися, ми надішлемо вам нові
            </p>
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>
