<header class="header">
  <div class="container">
    <div class="mobile-header">
      <a class="logo" href="">
        <svg
          class="logo__icon logo__icon--small"
          width="100"
          height="12"
          aria-label="логотип компании"
        >
          <use href="./images/icons.svg#icon-logo-small"></use>
        </svg>
      </a>
      <button
        class="mobile-header__btn-open js-open-menu"
        aria-expanded="false"
        aria-controls="mobile-menu"
        type="button"
      >
        <svg class="header__icon" width="22" height="12">
          <use href="./images/icons.svg#icon-hamburger"></use>
        </svg>
      </button>
      <div class="menu js-menu-container" id="mobile-menu">
        <a class="menu__logo logo" href="">
          <svg
            class="logo__icon logo__icon--small"
            width="100"
            height="12"
            aria-label="логотип компании"
          >
            <use href="./images/icons.svg#icon-logo-small"></use>
          </svg>
        </a>
        <button class="menu__close-btn js-close-menu" type="button">
          <svg
            class="menu__icon"
            width="24"
            height="24"
            aria-label="кнопка закрытитя меню"
          >
            <use href="./images/icons.svg#icon-menu-close"></use>
          </svg>
        </button>
        <nav>
          <ul class="menu__list">
            <li class="menu__item">
              <a class="menu__link" href="#">Характеристики</a>
            </li>
            <li class="menu__item">
              <a class="menu__link" href="#history">Історія</a>
            </li>
            <li class="menu__item">
              <a class="menu__link" href="#">Огляди</a>
            </li>
            <li class="menu__item">
              <a class="menu__link" href="#">Оплата і доставка</a>
            </li>
          </ul>
        </nav>
      </div>
    </div>
    <div class="desktop-header">
      <a class="logo" href="/">
        <svg
          class="logo__icon logo__icon--big"
          width="130"
          height="16"
          aria-label="логотип компании"
        >
          <use href="./images/icons.svg#icon-logo"></use>
        </svg>
      </a>

      <nav>
        <ul class="desktop-header__list">
          <li>
            <a class="desktop-header__link" href="#">Характеристики</a>
          </li>
          <li>
            <a class="desktop-header__link" href="#history">Історія</a>
          </li>
          <li>
            <a class="desktop-header__link" href="#">Відгуки</a>
          </li>
          <li>
            <a class="desktop-header__link" href="#">Оплата і доставка</a>
          </li>
        </ul>
      </nav>
    </div>
  </div>
</header>
