<section class="hero">
  <div class="hero__container container">
    <div class="hero__content">
      <p class="hero__text">
        Навушники з шумозаглушенням,<br />
        які здатні багато на що
      </p>
      <p class="hero__text">
        До 20 годин<br />
        відтворення
      </p>

      <div class="hero__title-container">
        <h1 class="hero__title">Навушники Bose NC 700</h1>
        <button class="hero__btn" type="button">Замовити</button>
      </div>
    </div>
    <img
      class="hero__image"
      srcset="
        ./images/hero/mobile/hero-mob280.jpg        280w,
        ./images/hero/mobile/hero-mob560@2x.jpg     560w,
        ./images/hero/mobile/hero-mob840@3x.jpg     840w,
        ./images/hero/tablet/hero-tab354.jpg        354w,
        ./images/hero/tablet/hero-tab708@2x.jpg     708w,
        ./images/hero/tablet/hero-tab1062@3x.jpg   1062w,
        ./images/hero/desktop/hero-desk700.jpg      700w,
        ./images/hero/desktop/hero-desk1400@2x.jpg 1400w,
        ./images/hero/desktop/hero-desk2100@3x.jpg 2100w
      "
      src="./images/hero/desktop/hero-desk700.jpg"
      alt="наушники"
      sizes="(min-width: 1440px) 700px , (min-width: 768px) 354px, (min-width: 320px) 280px, 100vw"
    />
  </div>
</section>
