<section class="photo">
  <div class="container">
    <img
      class="photo__img"
      srcset="
              ./images/photo/mobile/photo-mob280.jpg        280w,
              ./images/photo/mobile/photo-mob560@2x.jpg     560w,
              ./images/photo/mobile/photo-mob840@3x.jpg     840w,
              ./images/photo/tablet/photo-tab648.jpg        648w,
              ./images/photo/tablet/photo-tab1296@2x.jpg   1296w,
              ./images/photo/tablet/photo-tab1944@3x.jpg   1944w,
              ./images/photo/desktop/photo-desk1440.jpg    1440w,
              ./images/photo/desktop/photo-desk2880@2x.jpg 2880w,
              ./images/photo/desktop/photo-desk4320@3x.jpg 4320
            "
      src="./images/photo/desktop/photo-desk1440.jpg"
      alt="Дівчина в навушниках"
      sizes="(min-width: 1440px) 1440px, (min-width: 768px) 648px, (min-width: 320px) 280px, 100vw"
    />
  </div>
</section>
