<section class="promo">
  <div class="container-big">
    <h2 class="promo__title">Розкіш тиші</h2>
    <img
      class="promo__image"
      srcset="
        ./images/promo/mobile/promo-mob280.jpg        280w,
        ./images/promo/mobile/promo-mob560@2x.jpg     560w,
        ./images/promo/mobile/promo-mob840@3x.jpg     840w,
        ./images/promo/tablet/promo-tab768.jpg        768w,
        ./images/promo/tablet/promo-tab1536@2x.jpg   1536w,
        ./images/promo/tablet/promo-tab2304@3x.jpg   2304w,
        ./images/promo/desktop/promo-desk1440.jpg    1440w,
        ./images/promo/desktop/promo-desk2880@2x.jpg 2880w,
        ./images/promo/desktop/promo-desk4320@3x.jpg 4320w
      "
      src="./images/promo/desktop/promo-desk1440.jpg"
      alt="наушники на скамейке"
      sizes="(min-width: 1440px) 1440px, (min-width: 768px) 768px, (min-width: 320px) 280px, 100vw"
    />
    <ul class="promo__list">
      <li class="promo__item">
        <h3 class="promo__subtitle">Максимальна насолода</h3>
        <p class="promo__text">
          Для того, щоб створити комфортну атмосферу - піднімайте рівень за
          рівнем від "прозорого" режиму до максимального блокування звуків.
          Режим розмови можна активувати в один клік за допомогою кнопки.
        </p>
      </li>
      <li class="promo__item">
        <h3 class="promo__subtitle">Кришталевий звук</h3>
        <p class="promo__text">
          Система динаміків та фірмовий активний еквалайзер здатні забезпечити
          якісний та потужний звук на будь-якому рівні гучності. Ви можете бути
          впевнені у відсутності спотворень та кришталевої чистоти високих та
          низьких частот.
        </p>
      </li>
    </ul>
  </div>
</section>
