<section class="questions">
  <div class="container-big">
    <h2 class="questions__title">FAQ</h2>
    <ul class="questions__list">
      <li class="questions__item">
        <span class="questions__number">01</span>
        <div class="questions__content" data-action="0">
          <h3 class="questions__subtitle">
            Як з'єднатися з мобільним пристроєм?
          </h3>
        </div>
        <button class="questions__btn" type="button">
          <svg
            class="questions__icon"
            width="32"
            height="32"
            aria-hidden="true"
          >
            <use
              href="./images/icons.svg#icon-mark-question"
              data-action="0"
            ></use>
          </svg>
        </button>
      </li>
      <li class="questions__item">
        <span class="questions__number">02</span>
        <div class="questions__content" data-action="1">
          <h3 class="questions__subtitle">
            Яким є діапазон бездротового зв'язку у Bose NC 700?
          </h3>
        </div>
        <button class="questions__btn" type="button">
          <svg
            class="questions__icon"
            width="32"
            height="32"
            aria-hidden="true"
          >
            <use
              href="./images/icons.svg#icon-mark-question"
              data-action="1"
            ></use>
          </svg>
        </button>
      </li>
      <li class="questions__item">
        <span class="questions__number">03</span>
        <div class="questions__content" data-action="2">
          <h3 class="questions__subtitle">
            Як скласти навушники Bose NC 700 для зберігання?
          </h3>
        </div>
        <button class="questions__btn" type="button">
          <svg
            class="questions__icon"
            width="32"
            height="32"
            aria-hidden="true"
          >
            <use
              href="./images/icons.svg#icon-mark-question"
              data-action="2"
            ></use>
          </svg>
        </button>
      </li>
      <li class="questions__item">
        <span class="questions__number">04</span>
        <div class="questions__content" data-action="3">
          <h3 class="questions__subtitle">
            Чи працює гарантія на міжнародному рівні?
          </h3>
        </div>
        <button class="questions__btn" type="button">
          <svg
            class="questions__icon"
            width="32"
            height="32"
            aria-hidden="true"
          >
            <use
              href="./images/icons.svg#icon-mark-question"
              data-action="3"
            ></use>
          </svg>
        </button>
      </li>
    </ul>
  </div>
</section>
