<section class="sales">
  <div class="container-big">
    <div class="sales__container">
      <h2 class="sales__title">bose nc 700</h2>
      <img
        data-action="black"
        class="sales__img sales__img-black"
        srcset="
          ./images/sales/mobile/sales-mob280.jpg              280w,
          ./images/sales/mobile/sales-mob560@2x.jpg           560w,
          ./images/sales/mobile/sales-mob840@3x.jpg           840w,
          ./images/sales/tablet/sales-black-tab648.jpg        648w,
          ./images/sales/tablet/sales-black-tab1296@2x.jpg   1296w,
          ./images/sales/tablet/sales-black-tab1944@3x.jpg   1944w,
          ./images/sales/desktop/sales-black-desk700.jpg      700w,
          ./images/sales/desktop/sales-black-desk1400@2x.jpg 1400w,
          ./images/sales/desktop/sales-black-desk2100@3x.jpg 2100w
        "
        src="./images/sales/desktop/sales-black-desk700.jpg"
        alt="навушники чорні"
        sizes="(min-width: 1440px) 700px, (min-width: 768px) 648px, (min-width: 320px) 280px, 100vw"
      />
      <img
        data-action="gray"
        class="sales__img sales__img-grey"
        srcset="
          ./images/sales/tablet/sales-grey-tab648.jpg        648w,
          ./images/sales/tablet/sales-grey-tab1296@2x.jpg   1296w,
          ./images/sales/tablet/sales-grey-tab1944@3x.jpg   1944w,
          ./images/sales/desktop/sales-grey-desk700.jpg      700w,
          ./images/sales/desktop/sales-grey-desk1400@2x.jpg 1400w,
          ./images/sales/desktop/sales-grey-desk2100@3x.jpg 2100w
        "
        src="./images/sales/desktop/sales-grey-desk700.jpg"
        alt="навушники"
        sizes="(min-width: 1440px) 700px, (min-width: 768px) 648px, (min-width: 320px) 280px, 100vw"
      />
      <ul class="sales__btn-list">
        <li>
          <button
            type="button"
            class="sales__btn-around sales__btn-around-black"
            data-action="black"
          ></button>
        </li>
        <li>
          <button
            type="button"
            class="sales__btn-around sales__btn-around-grey"
            data-action="gray"
          ></button>
        </li>
      </ul>

      <ul class="sales__list">
        <li class="sales__item">
          <p>Наявність у магазинах</p>
          <button class="sales__btn-vector">
            <svg class="sales__icon" width="20" height="20" aria-hidden="true">
              <use href="./images/icons.svg#icon-vector" data-action="0"></use>
            </svg>
          </button>
        </li>
        <li class="sales__item">
          <p>Характеристики</p>
          <button class="sales__btn-vector">
            <svg class="sales__icon" width="20" height="20" aria-hidden="true">
              <use href="./images/icons.svg#icon-vector" data-action="0"></use>
            </svg>
          </button>
        </li>
        <li class="sales__item">
          <p>Способи оплати та доставки</p>
          <button class="sales__btn-vector">
            <svg class="sales__icon" width="20" height="20" aria-hidden="true">
              <use href="./images/icons.svg#icon-vector" data-action="0"></use>
            </svg>
          </button>
        </li>
      </ul>
      <p class="sales__price">14 999 UAH</p>
      <button class="sales__btn">Замовити</button>
    </div>
  </div>
</section>
