.feedback {
  @include section;
  @include mq(tab) {
    @include section(50px, 50px);
  }
  @include mq(desk) {
    @include section(85px, 85px);
  }
}
.feedback__wrapper {
  @include mq(desk) {
    @include flexed(null, null);
    gap: 150px;
  }
}
.feedback__thumb {
  @include mq(desk) {
    width: 400px;
  }
}
.feedback__title {
  @extend %title;
}
.feedback__action {
  color: var(--color-title);
  margin-bottom: 40px;
  font-weight: 600;
  font-size: 16px;
  line-height: 1.25;
  @include mq(tab) {
    margin-bottom: 52px;
    font-size: 20px;
  }
  @include mq(desk) {
    font-size: 28px;
  }
}
.feedback__form {
  @include mq(desk) {
    width: 510px;
  }
}

.feedback__label {
  display: block;
  margin-bottom: 32px;
  @include mq(desk) {
    margin-bottom: 42px;
  }
}
.feedback__label:nth-child(5) {
  margin-bottom: 40px;
  @include mq(tab) {
    margin-bottom: 52px;
  }
  @include mq(desk) {
    margin-bottom: 90px;
  }
}
.feedback__input {
  width: 100%;
  padding-bottom: 16px;
  border: none;
  outline: none;
  border-bottom: 2px solid rgba(255, 255, 255, 0.3);
  color: var(--color-text-primery);
  background-color: var(--bg-color-primery);
  font-weight: 400;
  font-size: 16px;
  line-height: 1.25;
  @include mq(desk) {
    font-size: 20px;
  }

  transition: border-color var(--time-duration) var(--timing-function);

  &::placeholder {
    color: rgba(255, 255, 255, 0.3);
  }
  &:focus {
    border-color: var(--bg-btn-hero);
  }
}
.feedback__textarea {
  width: 100%;
  max-height: 120px;
  padding-bottom: 16px;
  resize: none;
  border: none;
  outline: none;
  border-bottom: 2px solid rgba(255, 255, 255, 0.3);
  color: var(--color-text-primery);
  background-color: var(--bg-color-primery);
  font-weight: 400;
  font-size: 16px;
  line-height: 1.25;
  @include mq(desk) {
    font-size: 20px;
  }
  transition: border-color var(--time-duration) var(--timing-function);
  &::placeholder {
    color: rgba(255, 255, 255, 0.3);
  }
  &:focus {
    border-color: var(--bg-btn-hero);
  }
}
.feedback__input-checkbox {
  appearance: none;
}
.feedback__label--checkbox {
  position: relative;
  height: 23px;
  padding-left: 54px;
  color: var(--color-text-primery);
  font-weight: 400;
  font-size: 14px;
  line-height: 1.25;
  @include mq(desk) {
    font-size: 16px;
  }
}
.feedback__label--checkbox::before {
  position: absolute;
  content: '';
  top: 0;
  left: 0;
  margin-top: -5px;
  width: 30px;
  height: 28px;
  outline: 2px solid #e9edfa;
  outline-offset: -2px;
}
.feedback__label--checkbox::after {
  position: absolute;
  content: '';
  top: 0;
  left: 0;
  margin-left: 10px;
  margin-top: -14px;
  width: 15px;
  height: 25px;
  transform: rotate(45deg);
  border-right: 4px solid var(--bg-btn-hero);
  border-bottom: 4px solid var(--bg-btn-hero);
  border-radius: 3px;
  opacity: 0;
}
.feedback__input-checkbox:checked + .feedback__label--checkbox::after {
  opacity: 1;
}
.feedback__link {
  color: var(--color-text-primery);
}
.feedback__button {
  @include mq(mob-only) {
    width: 100%;
  }
  padding: 20px 91px 19px 90px;

  background-color: var(--bg-color-primery);
  color: var(--color-btn);
  font-weight: 600;
  font-size: 16px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  text-transform: uppercase;
  cursor: pointer;
  outline: 2px solid var(--bg-btn-hero);
  outline-offset: -2px;
  position: relative;
  vertical-align: middle;
  @include mq(tab) {
    padding: 20px 98px 19px 98px;
  }
  @include mq(desk) {
    padding: 22px 194px 22px 194px;
    font-size: 20px;
    line-height: 1.2;
  }

  &::before,
  &::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
  }
}

.draw {
  transition: color 0.25s;

  &::before,
  &::after {
    border: 2px solid transparent;

    width: 0;
    height: 0;
  }

  &::before {
    top: 0;
    left: 0;
  }

  &::after {
    bottom: 0;
    right: 0;
  }

  &:hover {
    color: var(--bg-btn-hero);
  }

  &:hover::before,
  &:hover::after {
    width: 100%;
    height: 100%;
  }

  &:hover::before {
    border-top-color: var(--color-btn);
    border-right-color: var(--color-btn);
    transition: width 0.25s ease-out, height 0.25s ease-out 0.25s;
  }

  &:hover::after {
    border-bottom-color: var(--color-btn);
    border-left-color: var(--color-btn);
    transition: border-color 0s ease-out 0.5s, width 0.25s ease-out 0.5s,
      height 0.25s ease-out 0.75s;
  }
}

.meet {
  &:hover {
    color: var(--bg-btn-hero);
  }

  &::after {
    top: 0;
    left: 0;
  }

  &:hover::before {
    border-top-color: var(--color-btn);
    border-right-color: var(--color-btn);
  }

  &:hover::after {
    border-bottom-color: var(--color-btn);
    border-left-color: var(--color-btn);
    transition: height 0.25s ease-out, width 0.25s ease-out 0.25s;
  }
}
