.review {
  @include section;
  @include mq(tab) {
    @include section(50px, 50px);
    @include mq(desk) {
      @include section(85px, 85px);
    }
  }
}
.review__container {
  @include mq(desk) {
    position: relative;
    margin-left: -80px;
    min-width: 1360px;
  }
}
.review__thumb {
  display: none;
}
.review__title {
  @extend %title;
  @include mq(desk) {
    margin-left: 1070px;
  }
}
.review__video {
  margin-bottom: 32px;
  width: 280px;
  height: 155px;
  @include mq(tab) {
    width: 640px;
    height: 360px;
  }
  @include mq(desk) {
    position: absolute;
    left: 0;
    top: 0;
    width: 920px;
    height: 520px;
  }
}

.review__link {
  display: inline-block;
  margin-bottom: 16px;
  font-weight: 600;
  font-size: 20px;
  line-height: 125%;
  color: var(--bg-btn-hero);
  @include mq(desk) {
    margin-left: 1070px;
    font-size: 28px;
  }
}
.review__text {
  margin-bottom: 32px;
  height: 123px;
  @include mq(tab) {
    height: 93px;
  }
  @include mq(desk) {
    height: 290px;
    margin-left: 1070px;
  }
}
.review__button-list {
  @include flexed(null, center);
  gap: 39px;
  @include mq(tab) {
    gap: 80px;
  }
  @include mq(desk) {
    @include flexed(null, flex-start);
    margin-left: 1070px;
  }
}
.review__button-item {
  margin-right: 0;
  margin-left: 0;
  width: 20px;
  height: 25px;
  @include mq(desk) {
    width: 28px;
    height: 35px;
  }
}
.review__button {
  width: 20px;
  height: 25px;
  opacity: 0.4;

  color: var(--bg-btn-hero);
  background-color: var(--bg-color-primery);

  font-family: 'Roboto Condensed';
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 1.25;
  cursor: pointer;
  @include mq(desk) {
    width: 28px;
    height: 35px;
    font-size: 28px;
  }
}
.review__active-opacity {
  opacity: 1;
}
.review__active-display {
  display: block;
}
